<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    
    <context:annotation-config/>

    
    <bean id="home" class="org.springexample.Address">
        <property name="city" value="Pune"/>
    </bean>

    
    <bean id="university" class="org.springexample.Address">
        <property name="city" value="Delhi"/>
    </bean>

    
    <bean id="s1" class="org.springexample.Student"/>
</beans>
