<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="s1" class="org.springexample.SpringNew.Payment">
        <property name="paymentId" value="101"/>
        <property name="payment_sender" value="Ajay"/>
        <property name="payment_reciver" value="Ram"/>
        <property name="amount" value="2000"/>
    </bean>
    <bean id="s2" class="org.springexample.SpringNew.Payment">
        <constructor-arg  index="0" value="102"/>
        <constructor-arg  index="1" value="Asha"/>
        <constructor-arg index="2" value="Ramesh"/>

        <constructor-arg  index="3" value="6000"/>

    </bean>

</beans>
