<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">


	<bean id="tc1" class="org.springexample.SpringAPI.Type" autowire="byType">
		<property name="type" value="Hybrid" />
		<property name="Range" value="300" />
		<property name="top_speed" value="250" />
	</bean>



	<bean id="c1" class="org.springexample.SpringAPI.Car">
		<property name="Company" value="Toyota" />
		<property name="Name" value="Camry" />
		<property name="price" value="5000000" />
	</bean>




</beans>